@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{ 
  background-color: #F9ED69;
}

h1, span{
  font-family: 'Climate Crisis', cursive;
}

p{
  font-family: 'Montserrat', sans-serif;
}

.gallery img{
  width: 90px;
  border-radius: 10px;
}


